@import '../../styles/variables';

.footer {
  @include flex-center(row);
  max-width: calc(#{$main-width} - 5%);
  justify-content: space-around;
  margin-bottom: margin(medium);

  @media (max-width: $media-545px) {
    @include flex-center(column);
    gap: 1.2rem;
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 3.2rem;

    a:link,
    a:visited {
      @include flex-center(row);
      gap: 0.6rem;
      text-decoration: none;
      padding-bottom: 0.2rem;
      border-bottom: 1px solid transparent;
      color: inherit;
    }

    a:hover,
    a:active {
      border-bottom: 1px solid $cyan-text;
    }
  }
}
