@import '../../styles/variables';

.card {
  @include flex-center(column);
  background-color: #fff;
  padding: 1.2rem;
  border-radius: radius(normal);
  box-shadow: shadow(light);

  @media (max-width: $media-650px) {
    border-radius: 0;
  }
}
