@import '../../styles/variables';

.container {
  width: 70%;
  max-width: $main-width;
  margin: 0 auto;
  transition: transition(normal);

  @media (max-width: $media-950px) {
    width: 90%;
  }

  @media (max-width: $media-650px) {
    width: 100%;
  }
}
